#forest1 {
    width: 100%;
    height: 1050px;
    background-image: url(../0625코딩/img/forest/forest1/forest1_bg.png);
}

#forest1 .lefttree {
    position: absolute;
    width: 332px;
    height: 990px;
    background-image: url(../0625코딩/img/forest/forest1/lefttree.png);
}

#forest1 .treewrap {
    position: relative;
    width: 304px;
    height: 572px;
    top: 100px;
    float: right;
}

#forest1 .treewrap .rabbit1 {
    position: absolute;
    width: 82px;
    height: 103px;
    background-image: url(../0625코딩/img/forest/forest1/rabbit1.png);
    margin: 435px 0 0 107px;
}

#forest1 .treewrap .rabbit2 {
    position: absolute;
    width: 56px;
    height: 75px;
    background-image: url(../0625코딩/img/forest/forest1/rabbit2.png);
    margin: 435px 0 0 200px;
}

#forest1 .treewrap .righttree {
    position: absolute;
    width: 304px;
    height: 572px;
    background-image: url(../0625코딩/img/forest/forest1/righttree.png);
}




#forest2 {
    width: 100%;
    height: 750px;
    background-image: url(../0625코딩/img/forest/forest2/forest2_bg.png);
}

#forest2 .frog {
    position: absolute;
    width: 153px;
    height: 257px;
    background-image: url(../0625코딩/img/forest/forest2/frog.png);
    margin: 50px 0 0 100px;
}

#forest2 .machinewrap2 {
    position: relative;
    width: 400px;
    height: 400px;
    top: 180px;
    left: 50%;
    margin-left: -180px;
}

#forest2 .machinewrap2 .machinebottom {
    position: absolute;
    width: 374px;
    height: 162px;
    background-image: url(../0625코딩/img/forest/forest2/machinebottom.png);
    margin-top: 220px;
    z-index: 200;
}

#forest2 .machinewrap2 .machineleft {
    position: absolute;
    width: 123px;
    height: 228px;
    background-image: url(../0625코딩/img/forest/forest2/machineleft.png);
    margin-top: 30px;
    z-index: 200;
}

#forest2 .machinewrap2 .machineright {
    position: absolute;
    width: 123px;
    height: 248px;
    background-image: url(../0625코딩/img/forest/forest2/machineright.png);
    margin: 10px 0 0 260px;
    z-index: 200;
}

#forest2 .forestbubble {
    position: relative;
    width: 365px;
    height: 220px;
    background-image: url(../0625코딩/img/forest/forest2/forestbubble.png);
    top: -100px;
    float: right;
    margin-right: 100px;

}

#forest2 .forest2tree {
    position: relative;
    width: 304px;
    height: 282px;
    background-image: url(../0625코딩/img/forest/forest2/forest2tree.png);
    top: 50px;
    float: left;
}

#forest3 {
    width: 100%;
    height: 600px;
    background-image: url(../0625코딩/img/forest/forest3/forest3_bg.png);
}
#forest3 .forest3wrap {
    position: relative;
    width: 354px;
    height: 440px;
    float: right;
    top: 100px;
}

#forest3 .forest3wrap .forest3tree {
    position: absolute;
    width: 354px;
    height: 440px;
    background-image: url(../0625코딩/img/forest/forest3/forest3tree.png);
}

#forest3 .forest3wrap .smallbird {
    position: absolute;
    width: 40px;
    height: 35px;
    background-image: url(../0625코딩/img/forest/forest3/bird_sm.png);
    top: 120px;
    left: 125px;
}

#forest3 .forest3wrap .bigbird {
    position: absolute;
    width: 83px;
    height: 80px;
    background-image: url(../0625코딩/img/forest/forest3/bird_big.png);
    margin: 280px 0 0 94px;

}